Content bug: 在http的发展历程中，文档对于RFC 7230-RFC 7235与http /2 的关系翻译不准确

## What page(s) did you find the problem on?

在链接：https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Basics_of_HTTP/Evolution_of_HTTP#%E8%B6%85%E8%BF%8715%E5%B9%B4%E7%9A%84%E6%89%A9%E5%B1%95

## Specific page section or heading?

在 Evolution_of_HTTP 中的 超过15年的扩展

## What is the problem?

翻译不准确，RFC7230-RFC7235不是http/2的预览版本，原文只是说明在http/2发布之前发布了RFC7230-RFC7235文档。

中文译文：[RFC 2616](https://datatracker.ietf.org/doc/html/rfc2616) 发布于1999年6月，而另外两个文档 [RFC 7230](https://datatracker.ietf.org/doc/html/rfc7230)-[RFC 7235](https://datatracker.ietf.org/doc/html/rfc7235) 发布于2014年6月，作为HTTP/2的预览版本。
英文原文：[RFC 2616](https://datatracker.ietf.org/doc/html/rfc2616) published in June 1999 and [RFC 7230](https://datatracker.ietf.org/doc/html/rfc7230)-[RFC 7235](https://datatracker.ietf.org/doc/html/rfc7235) published in June 2014 before the release of HTTP/2



## What did you expect to see?

<!-- If you have an idea of what the solution to your problem is, please
provide details here. If you don't know, then that's OK   -->

## Did you test this? If so, how?

<!-- Please provide any steps you took to test the problem, if appropriate  -->
